extends layout

block content
  if isLoggedIn


    div(class="container-fluid")
      div(class="row section-1")

    div(class="container-fluid")
      div(class="row section-2")
        div(class="col-sm")
          br
          br
          p(class="lead") Welcome to #{title}
        div(class="col-sm")
          br
          br
          p(class="lead") Welcome to #{title}
        div(class="col-sm")
          br
          br
          p(class="lead") Welcome to #{title}

    div(class="container-fluid")
      div(class="row section-1")


        

  else 
    div(class="container-fluid")
      div(class="jumbotron jumbotron-fluid")
        div(class="container")
          h1(class="display-4") Stop wasting time <br> on property <br> listings

    div(class="container-fluid")
      div(class="row section-1")
        div(class="col-sm")       
          p(class="lead") Simultaneously list your property <br> on all platforms
          button(class="btn btn-primary") sign up
          button(class="btn btn-link") pricing
   

    div(class="container-fluid")
      div(class="row section-2")
        div(class="col-sm")
          br
          br
          p One of three columns
        div(class="col-sm")
          br
          br
          p One of three columns
        div(class="col-sm")
          br
          br
          p One of three columns

    div(class="container-fluid")
      div(class="row section-1")

    div(class="container-fluid")
      div(class="row section-2")
        div(class="col-sm")
          br
          br
          p One of three columns
        div(class="col-sm")
          br
          br
          p One of three columns
        div(class="col-sm")
          br
          br
          p One of three columns