extends layout

block misc
  if isLoggedIn
    style(type='text/css').
      .navbar{
        background-color: white;
        box-shadow: 0 8px 6px -6px
      }
      .nav-logo-white{
        display: none 
      }
      .nav-logo-black{
        display: inline
      }   

  else
    script.
      //navbar color change on scroll
      $(document).ready(function(){
        $(window).scroll(function(){
            if($(window).scrollTop() > $(".header").height()){
                $(".navbar").css({"background-color":"white"});
                $(".navbar").css({"box-shadow":"0 8px 6px -6px"});            
                $("#icon").css({"color":"black"});               
                $(".nav-logo-white").css({"display":"none"})
                $(".nav-logo-black").css({"display":"inline"})      
            }
            else{
                $(".navbar").css({"background-color":"transparent"});
                $(".navbar").css({"box-shadow":"none"});
                $("#icon").css({"color":"white"});
                $(".nav-logo-white").css({"display":"inline"})     
                $(".nav-logo-black").css({"display":"none"}) 
                
            }
        })
      })


block content
  if isLoggedIn
    div(class="wrapper")
      div(class="header" style="")

    div(class="container-fluid")
      div(class="row section-1")

    div(class="container-fluid")
      div(class="row section-2")
        div(class="col-sm")
          br
          br
          p One of three columns
        div(class="col-sm")
          br
          br
          p One of three columns
        div(class="col-sm")
          br
          br
          p One of three columns

    div(class="container-fluid")
      div(class="row section-1")


        

  else 
    div(class="container-fluid")
      div(class="header")
        div(class="jumbotron jumbotron-fluid")
          div(class="container")
            h1(class="display-3") #{title}
            p(class="lead") Welcome to #{title}

    div(class="container-fluid")
      div(class="row section-1")

    div(class="container-fluid")
      div(class="row section-2")
        div(class="col-sm")
          br
          br
          p One of three columns
        div(class="col-sm")
          br
          br
          p One of three columns
        div(class="col-sm")
          br
          br
          p One of three columns

    div(class="container-fluid")
      div(class="row section-1")

    div(class="container-fluid")
      div(class="row section-2")
        div(class="col-sm")
          br
          br
          p One of three columns
        div(class="col-sm")
          br
          br
          p One of three columns
        div(class="col-sm")
          br
          br
          p One of three columns