extends layout

block misc
  if isLoggedIn

  else
      script.
        //navbar change color when clicked if on index and not loggedin
        $(document).ready(function(){
            var open = false;
            $(".navbar-toggler").click(function(){
                if(open){
                    icon.className = 'fa fa-angle-down';  

                  } else{
                    icon.className = 'fa fa-angle-down open';
                  }          
                  open = !open;       
            })
        })      

block content
  if isLoggedIn
    div(class="wrapper")
      div(class="header" style="")

    div(class="container-fluid")
      div(class="row section-1")

    div(class="container-fluid")
      div(class="row section-2")
        div(class="col-sm")
          br
          br
          p(class="lead") Welcome to #{title}
        div(class="col-sm")
          br
          br
          p(class="lead") Welcome to #{title}
        div(class="col-sm")
          br
          br
          p(class="lead") Welcome to #{title}

    div(class="container-fluid")
      div(class="row section-1")


        

  else 
    div(class="container-fluid")
      div(class="header")
        div(class="jumbotron jumbotron-fluid")
          div(class="container")
            h1(class="display-2") juu.io
            p(class="lead") Stop wasting time <br> on property listings

    div(class="container-fluid")
      div(class="row section-1")
          div(class="col-sm ")       
            p(class="lead") Simultaneously list your property <br> on all platforms
            button(class="btn btn-primary") sign up
   

    div(class="container-fluid")
      div(class="row section-2")
        div(class="col-sm")
          br
          br
          p One of three columns
        div(class="col-sm")
          br
          br
          p One of three columns
        div(class="col-sm")
          br
          br
          p One of three columns

    div(class="container-fluid")
      div(class="row section-1")

    div(class="container-fluid")
      div(class="row section-2")
        div(class="col-sm")
          br
          br
          p One of three columns
        div(class="col-sm")
          br
          br
          p One of three columns
        div(class="col-sm")
          br
          br
          p One of three columns