a:hover {
  text-decoration: none; }

.btn:hover {
  cursor: pointer; }

.pointer:hover {
  cursor: pointer; }

.btn-link:hover {
  text-decoration: none; }

.jumbotron {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url("/images/index_bg_1.jpg") no-repeat center;
  background-size: cover;
  color: white; }

.section-2 {
  background-color: black; }

.container-fluid {
  padding: 0;
  background-color: purple; }

.container {
  padding: 0 auto;
  margin: 0 auto;
  background-color: blue; }

.row {
  margin: auto;
  background-color: green; }

.col-sm {
  text-align: center;
  background-color: red;
  margin: 5vh; }

.navbar {
  transition: all 0.5s; }

.fa-angle-down {
  transform: rotate(0deg);
  transition: transform .25s linear; }

.fa-angle-down.open {
  transform: rotate(-180deg);
  transition: transform .25s linear; }

#icon {
  color: white; }

.nav-logo-black {
  transition: all 0.5s;
  display: none; }

.nav-logo-white {
  transition: all 0.5s; }

.nav-btn-mob {
  padding-left: 0; }

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5; }
  .hr-text:before {
    content: '';
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px; }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #ffffff; }

.modal-header {
  border-style: none; }

.modal-open {
  position: absolute;
  width: 100%; }

.modal-footer {
  border-style: none; }

.alert {
  z-index: 99999;
  position: fixed;
  width: 100%; }

input:required:valid {
  border-color: #28a745; }

html,
body {
  font-size: 17px !important; }

h1 {
  font-size: 1.602em; }

h2 {
  font-size: 1.424em; }

h3 {
  font-size: 1.266em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 0.889em; }

h6 {
  font-size: 0.79em; }

.display-1 {
  font-size: 3.906em; }

.display-2 {
  font-size: 3.125em; }

.display-3 {
  font-size: 2.5em; }

.display-4 {
  font-size: 2em; }

.jumbotron {
  height: 55vh;
  padding: 20vh 10vw;
  margin: 0 auto; }

@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
  .nav-search {
    max-width: 180px; } }

@media only screen and (min-device-width: 360px) and (max-device-width: 374px) {
  .nav-search {
    max-width: 200px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 410px) {
  .nav-search {
    max-width: 215px; } }

@media (min-width: 48em) {
  h1 {
    font-size: 2.441em; }
  h2 {
    font-size: 1.953em; }
  h3 {
    font-size: 1.563em; }
  h4 {
    font-size: 1.25em; }
  .display-1 {
    font-size: 6em; }
  .display-2 {
    font-size: 5.5em; }
  .display-3 {
    font-size: 4.5em; }
  .display-4 {
    font-size: 3.5em; }
  .jumbotron {
    padding: 25vh 10vw; } }

@media (min-width: 62em) {
  html,
  body {
    font-size: 19px !important; }
    html .jumbotron,
    body .jumbotron {
      height: 80vh;
      padding: 25vh 10vw; }
    html .section-1,
    body .section-1 {
      height: 40vh; }
    html .section-2,
    body .section-2 {
      background-color: black;
      padding: 10vh; } }

@media (min-width: 75em) {
  html,
  body {
    font-size: 21px !important; } }

/*# sourceMappingURL=style.css.map */