/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
/*major reset */
select {
  border-radius: 50px !important;
  background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 0%), linear-gradient(to right, #3F87C5, #3F87C5) !important;
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0 !important;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em !important;
  background-repeat: no-repeat !important;
  -webkit-appearance: none; }

select:hover {
  cursor: pointer; }

textarea {
  -webkit-appearance: none;
  border-radius: 50px; }

input.text, input[type="text"], input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 50px; }

.input-checkbox {
  -webkit-appearance: none;
  border-radius: 50px; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

a {
  text-decoration: none;
  color: #3F87C5; }

a:hover {
  text-decoration: none;
  color: #274C77; }

.btn {
  border-radius: 50px;
  padding: 0.5em 1.8em; }

.btn:hover {
  cursor: pointer;
  text-decoration: none; }

.btn-link {
  color: #3F87C5; }

.btn-link:hover {
  color: #274C77; }

.btn-primary {
  background-color: #3F87C5;
  border-color: #3F87C5; }

.btn-primary:hover {
  background-color: #274C77;
  border-color: #274C77; }

.btn-outline-primary {
  border-color: #3F87C5;
  color: #3F87C5; }

.btn-primary:active {
  background-color: #3F87C5 !important;
  border-color: #3F87C5 !important; }

.btn-outline-primary:hover {
  background-color: #3F87C5;
  border-color: #3F87C5 !important;
  color: white !important; }

.btn-outline-primary:active {
  background-color: #3F87C5 !important; }

.pointer:hover {
  cursor: pointer; }

.nav-pills a.active {
  background-color: #3F87C5 !important;
  color: white !important; }

.nav-pills a {
  color: #3F87C5 !important; }

.form-control {
  border-radius: 50px; }

.jumbotron {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url("/images/index_bg_1.jpg") no-repeat center;
  background-size: cover;
  color: white; }

.section-2 {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url("/images/spirationdark.png") center;
  color: white; }

.section-3 {
  background: url("/images/whitediamond.png") center; }

.section-4 .col-sm {
  margin: 5vh auto; }

.section-4 p {
  margin: 0 30px;
  margin-top: 30px; }

.section-4-1 {
  flex-direction: column-reverse; }

.section {
  max-width: 1024px; }

.container-fluid {
  padding: 0; }

.col {
  margin: auto; }

.row {
  margin: auto; }

.col-sm {
  text-align: center;
  margin: 5vh 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.navbar {
  transition: all 0.5s; }

.fa-angle-down {
  transform: rotate(0deg);
  transition: transform .25s linear; }

.fa-angle-down.open {
  transform: rotate(-180deg);
  transition: transform .25s linear; }

#icon {
  color: white; }

.nav-logo-black {
  transition: all 0.5s;
  display: none; }

.nav-logo-white {
  transition: all 0.5s; }

.nav-btn-mob {
  padding-left: 0; }

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5; }
  .hr-text:before {
    content: '';
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px; }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #ffffff; }

.modal-content {
  border-radius: 0; }

.modal-header {
  border-style: none; }

.modal-open {
  position: absolute;
  width: 100%; }

.modal-footer {
  border-style: none; }

.alert {
  z-index: 99999;
  position: fixed;
  width: 100%; }

input:required:valid {
  border-color: #28a745; }

.dropdown-menu {
  border-radius: 0; }

#add-property {
  position: fixed; }

.add-property {
  bottom: 50px;
  right: 50px;
  z-index: 99;
  background: #3F87C5;
  display: inline-block;
  width: 5em;
  height: 5em;
  border-radius: 50px; }

.card-title {
  font-size: 1.5em; }

.footer {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url("/images/spirationdark.png") center;
  padding: 30px 0; }
  .footer * {
    color: white;
    text-align: center; }
  .footer a:hover {
    color: #ccc; }
  .footer i:hover {
    opacity: 0.8;
    cursor: pointer; }
  .footer .btn:hover {
    color: #ccc; }
  .footer .footer-seperator {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #aaa; }
    .footer .footer-seperator:last-of-type {
      border: none; }
  .footer .footer-list {
    flex-grow: 1;
    font-size: 0.9em; }
    .footer .footer-list ul {
      text-align: center;
      margin: auto; }
      .footer .footer-list ul li {
        float: none; }
        .footer .footer-list ul li .btn {
          display: inline-block;
          padding: 10px 10px;
          margin-bottom: 5px;
          font-size: 0.9em;
          letter-spacing: 0.03em; }
  .footer .footer-medialinks {
    margin-top: 1em; }
    .footer .footer-medialinks i {
      display: inline-block;
      width: 35px;
      height: 35px;
      font-size: 0.9em;
      background: #333;
      padding: 8px;
      border: 1px solid white;
      border-radius: 50%;
      margin: 0 10px 20px 10px; }
  .footer .footer-copyright {
    color: grey;
    font-size: 0.7em;
    letter-spacing: 0.01; }

html,
body {
  font-size: 17px !important; }

h1 {
  font-size: 1.602em; }

h2 {
  font-size: 1.424em; }

h3 {
  font-size: 1.266em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 0.889em; }

h6 {
  font-size: 0.79em; }

.display-1 {
  font-size: 3.906em; }

.display-2 {
  font-size: 3.125em; }

.display-3 {
  font-size: 2.5em; }

.display-4 {
  font-size: 2em; }

.section-0 {
  height: 15vh;
  padding: 17vh 3vw 13vw 3vw; }

.jumbotron {
  height: 55vh;
  padding: 20vh 10vw;
  margin: 0 auto; }

.index-image {
  width: 250px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
  .nav-search {
    max-width: 170px; }
  .btn {
    padding: 0.5em 1.4em; }
  .index-image {
    width: 200px; } }

@media only screen and (min-device-width: 360px) and (max-device-width: 374px) {
  .nav-search {
    max-width: 200px; }
  .btn {
    padding: 0.5em 1.4em; }
  .index-image {
    width: 250px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 410px) {
  .nav-search {
    max-width: 215px; }
  .btn {
    padding: 0.5em 1.4em; }
  .index-image {
    width: 280px; } }

@media (min-width: 36em) {
  h1 {
    font-size: 2.441em; }
  h2 {
    font-size: 1.953em; }
  h3 {
    font-size: 1.563em; }
  h4 {
    font-size: 1.25em; }
  .display-1 {
    font-size: 6em; }
  .display-2 {
    font-size: 5.5em; }
  .display-3 {
    font-size: 4.5em; }
  .display-4 {
    font-size: 3.5em; }
  .jumbotron {
    padding: 15vh 10vw; }
  .footer {
    overflow: hidden; }
  .footer ul {
    clear: left;
    left: 50%;
    position: relative;
    float: left !important; }
  .footer ul li {
    position: relative;
    right: 50%;
    float: left !important; }
  .section-4-1 {
    flex-direction: row; }
  .section-0 {
    padding: 15vw 5vw 7vw 5vw; }
  .col-sm {
    margin: 5vh; }
  .add-property {
    height: 3em;
    width: 3em;
    margin-top: 1.5em !important; }
  .card-title {
    font-size: 1em; } }

@media (min-width: 62em) {
  html, body {
    font-size: 19px !important; }
    html .jumbotron, body .jumbotron {
      height: 80vh;
      padding: 25vh 10vw; }
    html .index-image, body .index-image {
      width: 400px; }
    html .section-0, body .section-0 {
      padding: 20vh 4vw 5vw 4vw; }
    html .add-property, body .add-property {
      height: 4em;
      width: 4em;
      margin-top: 0em !important; }
    html .card-title, body .card-title {
      font-size: 1em;
      top: -35px !important; } }

@media (min-width: 75em) {
  html,
  body {
    font-size: 21px !important; } }

/*# sourceMappingURL=style.css.map */